{extend name="public/base"}
{block name="main"}
<div class="main-header clear-flow">
    <div class="header-info">
        <div class="avatar bg-light-gray"><img src="__MA_IMG__/avatar.png" alt=""></div>
        <div class="account text-white text-big">15730373998管理员</div>
    </div>
    <div class="header-nav">
        <ul class="text-none">
            <li class="text-small">
                <a class="text-white" href="">
                    <span>100000.00</span>
                    <span>今日销售额</span>
                </a>
            </li>
            <li class="text-small">
                <a class="text-white" href="">
                    <span>0.00</span>
                    <span>今日订单数</span>
                </a>
            </li>
            <li class="text-small">
                <a class="text-white" href="">
                    <span>0.00</span>
                    <span>待发货订单</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-order">
    <div class="order-all text-none">
        <a href="./order.html" class="text-none text-black">
            <div class="common title text-big">全部订单</div>
            <div class="common go-arrow text-deepgray text-small">查看全部订单</div>
        </a>
    </div>
    <div class="order-btns">
        <ul>
            <li class="bottom">
                <a href="">
                    <em class="con"></em>
                    <span>待确认</span>
                </a>
                <div class="number text-xsmall">99</div>
            </li>
            <li class="bottom">
                <a href="">
                    <em class="send"></em>
                    <span>待发货</span>
                </a>
                <div class="number text-xsmall">99</div>
            </li>
            <li class="bottom">
                <a href="">
                    <em class="num"></em>
                    <span>待确认实发数</span>
                </a>
                <div class="number text-xsmall">98</div>
            </li>
            <li class="bottom">
                <a href="">
                    <em class="last-mon"></em>
                    <span>待付尾款</span>
                </a>
                <div class="number text-xsmall">97</div>
            </li>
            <li>
                <a href="">
                    <em class="wait-take"></em>
                    <span>待收货</span>
                </a>
                <div class="number text-xsmall">96</div>
            </li>
            <li>
                <a href="">
                    <em class="take"></em>
                    <span>已收货</span>
                </a>
                <div class="number text-xsmall">95</div>
            </li>
            <li>
                <a href="">
                    <em class="cancle"></em>
                    <span>已取消</span>
                </a>
                <div class="number text-xsmall">94</div>
            </li>
            <li>
                <a href="">
                    <em class="delete"></em>
                    <span>已作废</span>
                </a>
                <div class="number text-xsmall">93</div>
            </li>
        </ul>
    </div>
</div>
{/block}